<div class="login">
  <h3>Log In</h3>
  <form action="<%= session_url %>" method="post">
    <p>
    <label for="user_email">Email</label>
    <input type="text" id="user_email" name="user[email]">
    </p>
    <p>
    <label for="user_password">Password</label>
    <input type="password" id="user_password" name="user[password]">
    </p>
    <input class="btn btn-primary" type="submit" value="Submit">
  </form>
</div>