<div class="small-form form-horizontal">
  <form action="<%= password_reset_url(params[:id]) %>" method="post">
    <input type="hidden" name="_method" value="put">
    <input type="hidden" name="authenticity_token" 
       value="<%= form_authenticity_token %>">
    <div class="form-group">
      <label class="col-md-3 control-label sr-only"></label>
      <div class="col-md-7">
        <h3>Change Password</h3>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label" for="user_password">Password</label>
      <div class="col-md-7">
        <input type="password" id="user_password" 
               name="password" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label" for="user_confirm_password">Confirm Password</label>
      <div class="col-md-7">
        <input type="password" id="user_confirm_password" 
               name="confirm_password" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label sr-only"></label>
      <div class="col-md-7">
        <input type="submit" value="Update Password" class="btn btn-primary">
      </div>
    </div>
  </form>
</div>