<form action="<%= instructor_url(@instructor) %>" method="post">
  <input type="hidden" name="_method" value="put">
  <%= render partial: "form", locals: { instructor: @instructor,
                                        locations: @locations } %>
</form>