<form action="<%= instructor_url %>" method="post">
  <input type="hidden" name="_method" method="put">
  <%= render partial: "form", locals: { instructor: @instructor,
                                        locations: @locations } %>
</form>