<form action="<%= instructor_url(@instructor) %>" method="post" 
      class="form-horizontal">
  <input type="hidden" name="_method" value="put">
      <%= render partial: "form" %>
      <button type="button" class="btn btn-default" onClick="location.href='<%= locations_url %>'">Cancel</button>
    </div>
  </div>
</form>