<div class="small-form form-horizontal">
  <form action="<%= users_url %>" method="post">
    <div class="form-group">
      <label class="col-md-3 control-label sr-only"></label>
      <div class="col-md-7">
        <h3>Claim Account</h3>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label" for="user_email">Email</label>
      <div class="col-md-7">
        <input type="email" id="user_email" 
               name="user[email]" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label" for="user_password">Password</label>
      <div class="col-md-7">
        <input type="password" id="user_password" 
               name="user[password]" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label" for="user_confirm_password">Confirm Password</label>
      <div class="col-md-7">
        <input type="password" id="user_confirm_password" 
               name="user[confirm_password]" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label sr-only"></label>
      <div class="col-md-7">
        <input type="submit" value="Go!" class="btn btn-primary">
      </div>
    </div>
  </form>
</div>