  <form class="form-horizontal" id="term-toggler">
     Term: 
    <select id="term_toggler_id" name="term_toggler[term_id]" class="span2">
      
      <% @terms.each do |term| %>
        <option value="<%= term.id %>"
          <%= "selected" if current_term.id == term.id %>>
          <%= term.dept_code %> 
        </option>
      <% end %>
    </select>
  </form>