<div class="small-form form-horizontal">
  <h3 align="center">Sign Up</h3>
  <br>
  <form action="<%= clients_url %>" method="post">
    <div class="form-group">
    <label class="col-md-5 control-label" for="client_fname">First Name</label>
      <div class="col-md-7">
        <input type="text" id="client_fname" name="client[fname]" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-5 control-label" for="client_lname">Last Name</label>
      <div class="col-md-7">
        <input type="text" id="client_lname" name="client[lname]" class="form-control">
      </div>
    </div>
    <div class="form-group">
    <label class="col-md-5 control-label" for="client_phone">Phone</label>
      <div class="col-md-7">
        <input type="text" id="client_phone" name="client[phone]" class="form-control">
    </div>
    </div>
    <div class="form-group">
    <label class="col-md-5 control-label" for="client_organization">Organization</label>
      <div class="col-md-7">
        <input type="text" id="client_organization" name="client[organization]" class="form-control">
    </div>
    </div>
    <div class="form-group">
      <label class="col-md-5 control-label" for="client_email">Email</label>
      <div class="col-md-7">
        <input type="text" id="client_email" name="client[email]" class="form-control">
      </div>
    </div>
    <div class="form-group">
    <label class="col-md-5 control-label" for="user_password">Password</label>
      <div class="col-md-7">
        <input type="password" id="user_password" name="user[password]" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-5 control-label sr-only"></label>
      <div class="col-md-7">
        <input type="submit" value="Go!" class="btn btn-primary">
      </div>
    </div>
  </form>
</div>