<form class="form-inline attended-form">
  <div class="radio form-group">
    <label for="event_reg_attended_false">No</label>
      <input type="radio" name="event_reg[attended]" 
             value="false" id="event_reg_attended_false"
             data-id="<%= event_reg.id %>"
             <%= 'checked' unless event_reg.attended %>>
  </div>
  <div class="radio form-group">
    <label for="event_reg_attended_true">Yes</label>
      <input type="radio" name="event_reg[attended]"
             value="true" id="event_reg_attended_true"
             data-id="<%= event_reg.id %>"
             <%= 'checked' if event_reg.attended %>>
  </div>
</form>