<form action="<%= event_regs_url %>" method="post">
  <label for="event_reg_idn">Enter ID Number</label>
  <input type="text" id="event_reg_idn" name="event_reg[idn]">
  <label for="event_reg_email">Enter Email</label>
  <input type="text" id="event_reg_email" name="event_reg[email]">
  <label for="event_reg_dob">Enter Date of Birth</label>
  <input type="date" id="event_reg_dob" name="event_reg[dob]">
  <input type="submit" value="Submit">
</form>