<form style="float:none; width:50px" class="attn-form">
  <input type="hidden" name="attendance_record[student_id]"
         value="<%= student.id %>">
  <input type="hidden" name="attendance_record[course_id]"
         value="<%= params[:id] %>">
  <input type="hidden" name="attendance_record[date]"
         value="<%= date %>">
  <input type="text" class="form-control" 
         name="attendance_record[hours]" id="attendance_hours">       
  <input type="submit" value="Submit" 
         class="btn btn-primary btn-xs">
</form>