<form action="<%= courses_url %>" method="post">
  <%= render partial: "form", locals: { course: @course,
                                        locations: @locations,
                                        terms: @terms,
                                        days: @days,
                                        budget_codes: @budget_codes } %>
</form>