<form action="<%= location_url(@location) %>" method="post" 
      class="form-horizontal">
  <input type="hidden" name="_method" value="put">
      <%= render partial: "form" %>
    </div>
  </div>
</form>